
<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab corporis dicta eveniet adipisci velit, obcaecati alias distinctio laborum nesciunt illo repudiandae ea facere expedita voluptas aliquid cumque accusantium eaque quas?</p>
    </div>
</section>