<div class="jumbotron mt-4">
    <h1 class="display-4">Register Users App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias laborum nobis laboriosam similique, repellat doloremque! Minus qui dolorum iure aspernatur id nemo impedit, eveniet porro illo nobis amet distinctio corporis!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed hic modi architecto enim eaque illum voluptas. Similique, sint officia possimus ab, omnis eum dolorum unde inventore quam qui nesciunt doloremque!</p>
</div>