
<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3>New note</h3>
        </div>
        <div class="card-body">
            <form action="/notes/new-notes" method="POST">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="title" autofocus>
                </div>
                <div class="form-group">
                    <textarea name="description" class="form-control" placeholder="description"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>