<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Account Register
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <label for="exampleInputName1">Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Name" value="{{name}}" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputLastName1">Last Name</label>
                        <input type="text" class="form-control" name="last_name" placeholder="Last name" value="{{last_name}}" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password" value="{{email}}" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPosition1">Position</label>
                        <input type="text" class="form-control" name="position" placeholder="Position" value="{{position}}" required>
                    </div>
                    <button class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>